<div class="text-center">
  <h3 class="mt-3">About Us</h3>

  <figure class="text-center">
    <blockquote class="blockquote">
      <p class="mb-0">At PlantH2O Pro, we're passionate about helping you nurture your indoor plants to thrive and flourish.</p>
      <p class="mb-0">We understand that not everyone has a green thumb, and that's where our innovative solution comes into play.</p>
    
    </blockquote>
    <figcaption class="blockquote-footer">
      PlantH2O Pro Team
    </figcaption>
  </figure>
  <%= image_tag("logo.jpg", class: "thumbnail", size: "150x200", alt: "logo") %>
</div>

<div class="text-center">
  <div>
    <h1 class="mt-2">Add a new plant</h1>

    <form action="/insert_plant" method="post">
      <div class="row d-flex justify-content-center mt-3 mb-3">
        <label for="plant_name_box" class="col-sm-2 col-form-label">
          Plant name
        </label>
        <div class="col-sm-2">
          <input type="text" id="plant_name_box" name="query_plant_name" class="form-control">
        </div>
      </div>

      <div class="row d-flex justify-content-center mb-3">
        <label for="last_watered_date_box" class="col-sm-2 col-form-label">
          Last watered date
        </label>
        <div class="col-sm-2">
          <input type="date" id="last_watered_date_box" name="query_last_watered_date" class="form-control">
        </div>
      </div>

      <button type="submit" class="btn btn-primary">
        Create plant
      </button>
    </form>
  </div>
</div>


<div class="container mb-5">
  <div class="row justify-content-center mt-4">
    <div class="col-md-10">
      <div class="card text-white bg-primary">
        <div class="card-body">
          <h4 class="card-title">The PlantH2O Pro Solution</h4>
          <p class="card-text">PlantH2O Pro is your go-to companion for plant care. Our mission is to make plant care easy, enjoyable, and accessible to all. With our intuitive platform, you can effortlessly monitor and care for your indoor plants, ensuring they receive the attention they need to thrive.</p>
        </div>
        <div class="card-body">
          <h4 class="card-title">How ChatGPT-3.5 Powers Plant Care</h4>
          <p class="card-text">Behind the scenes, we leverage the power of ChatGPT-3.5, an advanced AI model developed by OpenAI. ChatGPT-3.5 allows us to automatically generate precise care information, including watering frequency, sunlight requirements, soil type, and other care tips for your plants.</p>
        </div>
        <div class="card-body">
          <h4 class="card-title">Our Commitment</h4>
          <p class="card-text">We're committed to providing you with a seamless plant care experience. With PlantH2O Pro, you'll enjoy:</p>
          <ul>
              <li><strong>Convenience:</strong> Easily access plant care tips and reminders through our user-friendly platform.</li>
              <li><strong>Healthy Plants:</strong> Watch your indoor plants thrive as you care for them with confidence.</li>
          </ul>

          <p>Join the PlantH2O Pro community today and embark on a journey to become a plant care expert. Together, we'll help your green friends flourish and brighten up your living spaces.</p>
        </div>

      </div>
    </div>
  </div>
</div>
